:root {
  /* Color variables */
  --color-white: hsl(0, 100%, 100%);
  --color-gray-900: hsl(217, 19%, 35%);
  --color-gray-500: hsl(214, 17%, 51%);
  --color-gray-400: hsl(212, 23%, 69%);
  --color-gray-200: hsl(210, 46%, 95%);

  /* Typography variables */
  --text-preset-1-font-family: "Manrope-bold", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-1-font-size: 2rem;
  --text-preset-1-line-height: 130%;
  --text-preset-1-letter-spacing: 0.025rem;

  --text-preset-2-font-family: "Manrope-medium", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-2-font-font-size: 1.3rem;
  --text-preset-2-font-line-height: 140%;
  --text-preset-2-font-letter-spacing: 0.12%;

  --text-preset-3-font-family: "Manrope-bold", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-3-font-font-size: 1.3rem;
  --text-preset-3-font-line-height: 140%;
  --text-preset-3-font-letter-spacing: 0.12%;

  --text-preset-4-font-family: "Manrope-medium", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-4-font-size: 1.3rem;
  --text-preset-4-line-height: 140%;
  --text-preset-4-letter-spacing: 25%;

  /* Spacing variables */
  --spacing-0: 0rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-700: 5.6rem;
  --spacing-800: 6.4rem;
  --spacing-1300: 10.4rem;
  --spacing-2000: 16rem;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-800) var(--spacing-300) 6.5rem var(--spacing-300);
  background: var(--color-gray-200);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: var(--spacing-400);

  width: 32.7rem;
  height: 53.8rem;

  border-radius: 1rem;
  background: var(--color-white);
  box-shadow: 0 4rem 4rem -1rem rgba(201, 213, 225, 05);

  overflow: hidden;
  position: relative;
}

.card .card-img {
  width: inherit;
  height: 20rem;
  background: url("../images/drawers.jpg") lightgray 0px 0px / 100% 100%
    no-repeat;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-600);

  padding: 0px 30px 18px 30px;
}

.card .card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300);
}
.card .card-title {
  align-self: stretch;
  color: var(--color-gray-900);
  font-family: var(--text-preset-1-font-family);
  font-size: var(--text-preset-1-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--text-preset-1-line-height);
  letter-spacing: var(--text-preset-1-font-letter-spacing);
}
.card .card-paragraph {
  width: 33ch;
  align-self: stretch;
  color: var(--color-gray-500);
  font-family: var(--text-preset-2-font-family);
  font-size: var(--text-preset-2-font-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--text-preset-2-font-line-height);
  letter-spacing: 0.016px;
}
.card-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-800);
}
.user-buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.user-img-profile {
  width: 4rem;
  height: 4rem;

  border-radius: 4rem;
  background: url("../images/avatar-michelle.jpg") lightblue 50% / cover
    no-repeat;
}
/* Common font style for both of user-name & review-date */
.user-info {
  font-family: var(--text-preset-2-font-family);
  font-size: var(--text-preset-2-font-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--text-preset-2-font-line-height);
  letter-spacing: 0.016px;
}
.user-name {
  align-self: stretch;
  color: var(--color-gray-900);
}
.review-date {
  align-self: stretch;
  color: var(--color-gray-400);
}
.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  background: var(--color-gray-200);
  border-radius: 4rem;
  border: unset;
  z-index: 10;
}
.share-button svg circle,
path {
  transition: fill 0.5s ease-in;
}
.dark-fill {
  fill: var(--color-gray-500);
}

.light-fill {
  fill: var(--color-white);
}
.social-buttons {
  position: absolute;
  width: 100%;
  height: 75px;
  border: 1px solid black;
  bottom: 0;
  left: 0;
  border-radius: 0 0 1rem 1rem;
  padding: var(--spacing-200) var(--spacing-400);
  background: var(--color-gray-900);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;

  transition: all 0.2s ease-in;
}

.hidden {
  z-index: -1;
}
.social-meida-icons-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: var(--spacing-300);
}
.social-meida-icons-wrapper p {
  color: var(--color-gray-400);

  font-family: var(--text-preset-4-font-family);
  font-size: var(--text-preset-4-font-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--text-preset-4-font-line-height);
  letter-spacing: 0.325rem;
  text-transform: uppercase;
}
.social-media-icons {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
