:root {
  /* Color variables */
  --color-white: hsl(0, 100%, 100%);
  --color-gray-900: hsl(217, 19%, 35%);
  --color-gray-500: hsl(214, 17%, 51%);
  --color-gray-400: hsl(212, 23%, 69%);
  --color-gray-200: hsl(210, 46%, 95%);

  /* Typography variables */
  --text-preset-1-font-family: "Manrope-bold", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-1-font-size: 2rem;
  --text-preset-1-line-height: 130%;
  --text-preset-1-letter-spacing: 0.025rem;

  --text-preset-2-font-family: "Manrope-medium", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-2-font-font-size: 1.3rem;
  --text-preset-2-font-line-height: 140%;
  --text-preset-2-font-letter-spacing: 0.12%;

  --text-preset-3-font-family: "Manrope-bold", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-3-font-font-size: 1.3rem;
  --text-preset-3-font-line-height: 140%;
  --text-preset-3-font-letter-spacing: 0.12%;

  --text-preset-4-font-family: "Manrope-medium", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset-4-font-size: 1.3rem;
  --text-preset-4-line-height: 140%;
  --text-preset-4-letter-spacing: 25%;

  /* Spacing variables */
  --spacing-0: 0rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-700: 5.6rem;
  --spacing-800: 6.4rem;
  --spacing-1300: 10.4rem;
  --spacing-2000: 16rem;
}

html {
  font-size: 62.5%;
}

body {

}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
