/* Tablelet layout style */
@media (min-width: 44em) {
  .card {
    flex-direction: row;
    width: 60.8rem;
    height: 34.6rem;
    overflow: visible;
  }
  .card .card-img {
    height: inherit;
    background: url("../images/drawers.jpg") lightgray 0px 0px / 122% 100%
      no-repeat;
  }

  .card .card-content {
    padding: 4.1rem 3.6rem 4.1rem 0rem;
    gap: 2.4rem;
  }
  .card .card-buttons {
    align-self: stretch;
    justify-content: space-between;
  }
  .social-buttons {
    top: 56%;
    left: unset;
    right: -11%;
    width: 24.4rem;
    height: 5rem;
    border: unset;
    border-radius: 1.2rem;
  }
  .card .message-like-shape {
    position: absolute;
    top: 55%;
    right: -13%;
  }
}

/* Desktop layout style */
@media (min-width: 63em) {
  .card {
    width: 73rem;
    height: 28rem;
    gap: 4rem;
  }
  .card .social-buttons {
    top: 52%;
    right: -9%;
  }
  .card .message-like-shape {
    top: 52%;
    right: -11%;
  }
}
